# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
build/
dist
UsersAdministratorAppDataRoamingnpm-cache
# Linux
.directory
*~


# npm
node_modules
# package-lock.json
*.log
*.gz


# Coveralls
coverage

# Benchmarking
benchmarks/graphs

# Editor directories and files
.idea
!.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
ts.js