{% extends 'home.njk' %}
{% block title %}
  首页
{% endblock %}

{% block header %}{% endblock %}

{% block main %}
  <h1>姓名：{{ name }}</h1>
  <p>使用的模板引擎是：{{ title }}</p>
{% endblock %}

{% block footer %}{% endblock %}