body {
  background-color: darkgray;
  #app {
    background-color: wheat;
    .img {
      width: 400px;
      height: 200px;
      transition: all 0.5s;
      user-select: none;
      background: linear-gradient(to bottom, white, black);
    }
  }
}
